In [54]:
import gzip
import io
import pandas as pd
import urllib.request

%matplotlib inline

import matplotlib # plotting
import matplotlib.pyplot as plt

import sqlite3

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [55]:

ramphs = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/roman-amphitheaters.csv")
chronogrps = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/chronogrps.csv")

In [56]:
ramphs_sql = sqlite3.connect(":memory:")

In [57]:
ramphs.to_sql('ramphs',ramphs_sql,if_exists = "replace")
chronogrps.to_sql('chronogrps',ramphs_sql,if_exists = "replace")

In [58]:
response = urllib.request.urlopen("http://atlantides.org/downloads/pleiades/dumps/pleiades-places-latest.csv.gz")
pleiades = pd.read_csv(io.BytesIO(gzip.decompress(response.read())))

In [59]:
pleiades.to_sql('pleiades',ramphs_sql,if_exists = "replace")

In [60]:
cur = ramphs_sql.cursor()
cur.execute("UPDATE pleiades SET path = 'https://pleiades.stoa.org'||path")
cur.close()

In [61]:
pd.read_sql_query("SELECT path FROM pleiades LIMIT 5", ramphs_sql)

                                        path
0  https://pleiades.stoa.org/places/48210385
1  https://pleiades.stoa.org/places/48210386
2    https://pleiades.stoa.org/places/265876
3    https://pleiades.stoa.org/places/265877
4    https://pleiades.stoa.org/places/265878

In [62]:
# 1) Adapt the above SELECT query to do something like:
# "Find all amphitheaters in Italy from sites that Pleiades thinks were founded before 323 BC. Order by earliest date of the amphitheater." 
# Hint: Use the pleiades.minDate column
# Then make some variations on that theme

pd.read_sql_query('''SELECT  ramphs.id, ramphs.modcountry, pleiades.minDate
          FROM ramphs, pleiades
          WHERE ramphs.pleiades = pleiades.path and ramphs.modcountry = "Italy" and pleiades.minDate < -322
          ORDER BY pleiades.minDate;''', ramphs_sql)

                                  id modcountry  minDate
0                   ludusMagnusArena      Italy   -750.0
1            romeFlavianAmphitheater      Italy   -750.0
2         romeAmphitheatrumCastrense      Italy   -750.0
3                pompeiiAmphitheater      Italy   -750.0
4                  cumaeAmphitheater      Italy   -750.0
5        pozzuoliFlavianAmphitheater      Italy   -750.0
6          pozzuoliEarlyAmphitheater      Italy   -750.0
7               syracuseAmphitheater      Italy   -750.0
8               cagliariAmphitheater      Italy   -750.0
9                catiniaAmphitheater      Italy   -750.0
10               paestumAmphitheater      Italy   -750.0
11               roselleAmphitheater      Italy   -750.0
12             ocriculumAmphitheater      Italy   -750.0
13                arezzoAmphitheater      Italy   -750.0
14                larinoAmphitheater      Italy   -750.0
15              grumentoAmphitheater      Italy   -750.0
16                 tiburAmphitheater      Italy   -750.0
17                 paduaAmphitheater      Italy   -750.0
18       capuaRepublicanAmphitheater      Italy   -750.0
19         capuaImperialAmphitheater      Italy   -750.0
20                  noleAmphitheater      Italy   -750.0
21       noceraSuperioreAmphitheater      Italy   -750.0
22       statiliusTaurusAmphitheater      Italy   -750.0
23                teramoAmphitheater      Italy   -750.0
24                ordonaAmphitheater      Italy   -750.0
25              tusculumAmphitheater      Italy   -750.0
26                  todiAmphitheater      Italy   -750.0
27                 terniAmphitheater      Italy   -750.0
28                 fermoAmphitheater      Italy   -750.0
29                 ruggeAmphitheater      Italy   -750.0
..                               ...        ...      ...
58               allifaeAmphitheater      Italy   -330.0
59                 luccaAmphitheater      Italy   -330.0
60             hispellumAmphitheater      Italy   -330.0
61            albaFucensAmphitheater      Italy   -330.0
62               telesiaAmphitheater      Italy   -330.0
63            urbisagliaAmphitheater      Italy   -330.0
64                  susaAmphitheater      Italy   -330.0
65              aquileiaAmphitheater      Italy   -330.0
66                 lecceAmphitheater      Italy   -330.0
67  sanBenedettoDeiMarsiAmphitheater      Italy   -330.0
68            monteleoneAmphitheater      Italy   -330.0
69               bolsenaAmphitheater      Italy   -330.0
70             beneventoAmphitheater      Italy   -330.0
71          sanVittorinoAmphitheater      Italy   -330.0
72               liternoAmphitheater      Italy   -330.0
73                aquinoAmphitheater      Italy   -330.0
74    augustaBagiennorumAmphitheater      Italy   -330.0
75           faleriiNoviAmphitheater      Italy   -330.0
76                venosaAmphitheater      Italy   -330.0
77               velleiaAmphitheater      Italy   -330.0
78                bevanaAmphitheater      Italy   -330.0
79             minturnaeAmphitheater      Italy   -330.0
80              sinuessaAmphitheater      Italy   -330.0
81               spoletoAmphitheater      Italy   -330.0
82              faleroneAmphitheater      Italy   -330.0
83             frosinoneAmphitheater      Italy   -330.0
84               sipontoAmphitheater      Italy   -330.0
85                 suasaAmphitheater      Italy   -330.0
86           sanGiovanniAmphitheater      Italy   -330.0
87            altripaldaAmphitheater      Italy   -330.0

[88 rows x 3 columns]

In [63]:
#all the amphitheaters from France in the hellenistic-republican,roman,late-antique (RLM) period with a capacity greater than 5000
pd.read_sql_query('''SELECT  ramphs.id, ramphs.modcountry, ramphs.capacity, pleiades.timePeriods
          FROM ramphs, pleiades
          WHERE ramphs.pleiades = pleiades.path 
              and ramphs.modcountry = "France" 
              and pleiades.timePeriods = "RLM" 
              and ramphs.capacity > 4999
          ORDER BY ramphs.capacity;''', ramphs_sql)

                      id modcountry  capacity timePeriods
0  lillebonnAmphitheater     France    7245.0         RLM
1       agenAmphitheater     France   15000.0         RLM
2  grandHalfAmphitheater     France   17000.0         RLM
3    saintesAmphitheater     France   20197.0         RLM
4   bordeauxAmphitheater     France   22130.0         RLM
5      toursAmphitheater     France   34000.0         RLM

In [64]:
#add chronogrps.start information in to pull from three tables
pd.read_sql_query('''SELECT  ramphs.id, ramphs.modcountry, ramphs.capacity, pleiades.timePeriods, chronogrps.start
          FROM ramphs, pleiades, chronogrps
          WHERE ramphs.pleiades = pleiades.path 
              and ramphs.chronogrp = chronogrps.chronogrp
              and ramphs.modcountry = "France" 
              and pleiades.timePeriods = "RLM" 
              and ramphs.capacity > 4999
          ORDER BY ramphs.capacity;''', ramphs_sql)

                      id modcountry  capacity timePeriods  start
0  lillebonnAmphitheater     France    7245.0         RLM      1
1       agenAmphitheater     France   15000.0         RLM     50
2  grandHalfAmphitheater     France   17000.0         RLM    200
3    saintesAmphitheater     France   20197.0         RLM     50
4   bordeauxAmphitheater     France   22130.0         RLM    100
5      toursAmphitheater     France   34000.0         RLM    117

In [65]:
#amphitheaters built in Itally after 70 BCE
pd.read_sql_query('''SELECT  ramphs.id, ramphs.modcountry, chronogrps.start
          FROM ramphs, chronogrps
          WHERE ramphs.chronogrp = chronogrps.chronogrp
              and ramphs.modcountry = "Italy" 
              and chronogrps.start > -71 
          ORDER BY chronogrps.start;''', ramphs_sql)

                                 id modcountry  start
0               pompeiiAmphitheater      Italy    -70
1                 cumaeAmphitheater      Italy    -70
2         pozzuoliEarlyAmphitheater      Italy    -70
3               paestumAmphitheater      Italy    -70
4                avellaAmphitheater      Italy    -70
5               ferentoAmphitheater      Italy    -70
6               sutriumAmphitheater      Italy    -70
7               telesiaAmphitheater      Italy    -70
8             beneventoAmphitheater      Italy    -70
9          calviRisortaAmphitheater      Italy    -70
10      capuaRepublicanAmphitheater      Italy    -70
11              liternoAmphitheater      Italy    -70
12                 noleAmphitheater      Italy    -70
13                teanoAmphitheater      Italy    -70
14         suessaAruncaAmphitheater      Italy    -70
15           altripaldaAmphitheater      Italy    -70
16               compsaAmphitheater      Italy    -70
17             syracuseAmphitheater      Italy    -27
18              roselleAmphitheater      Italy    -27
19               luceraAmphitheater      Italy    -27
20               veronaAmphitheater      Italy    -27
21           albaFucensAmphitheater      Italy    -27
22                paduaAmphitheater      Italy    -27
23               anconaAmphitheater      Italy    -27
24      statiliusTaurusAmphitheater      Italy    -27
25   augustaBagiennorumAmphitheater      Italy    -27
26                aostaAmphitheater      Italy    -27
27          faleriiNoviAmphitheater      Italy    -27
28              velleiaAmphitheater      Italy    -27
29             faleroneAmphitheater      Italy    -27
..                              ...        ...    ...
73              spoletoAmphitheater      Italy     50
74                fermoAmphitheater      Italy     50
75            frosinoneAmphitheater      Italy     50
76                ruggeAmphitheater      Italy     50
77               canosaAmphitheater      Italy     50
78              sipontoAmphitheater      Italy     50
79               chietiAmphitheater      Italy     50
80                vastoAmphitheater      Italy     50
81                suasaAmphitheater      Italy     50
82             pollenzoAmphitheater      Italy     50
83             vercelliAmphitheater      Italy     50
84          sanGiovanniAmphitheater      Italy     50
85         reggioEmiliaAmphitheater      Italy     50
86              tharrosAmphitheater      Italy     50
87          romeFlavianAmphitheater      Italy     69
88      pozzuoliFlavianAmphitheater      Italy     69
89               arezzoAmphitheater      Italy     69
90           urbisagliaAmphitheater      Italy     69
91       terminiImereseAmphitheater      Italy     69
92              bolsenaAmphitheater      Italy     69
93        capuaImperialAmphitheater      Italy     69
94             cagliariAmphitheater      Italy    100
95       genzanoPrivateAmphitheater      Italy    100
96              portusOvalStructure      Italy    100
97             tusculumAmphitheater      Italy    100
98         hadrianVillaAmphitheater      Italy    117
99               riminiAmphitheater      Italy    117
100      romeAmphitheatrumCastrense      Italy    193
101        castraAlbanaAmphitheater      Italy    193
102             egnaziaAmphitheater      Italy    200

[103 rows x 3 columns]

In [66]:
#all amphitheaters from Italy after 70 BCE with a extmajor greater than 80 and an extminor greater than 60
pd.read_sql_query('''SELECT  ramphs.id, ramphs.modcountry, ramphs.extmajor, ramphs.extminor, pleiades.minDate
          FROM ramphs, pleiades
          WHERE (ramphs.pleiades = pleiades.path)
          and (ramphs.modcountry = "Italy")
          and (ramphs.extmajor > 79)
          and (ramphs.extminor > 59)
          and (pleiades.minDate > -71)
          ORDER BY pleiades.minDate;''', ramphs_sql)

                         id modcountry  extmajor  extminor  minDate
0        veronaAmphitheater      Italy    152.43    123.42    -30.0
1         ivreaAmphitheater      Italy     96.00     72.00    -30.0
2  castraAlbanaAmphitheater      Italy    116.50     94.00    -30.0
3         aostaAmphitheater      Italy    150.00    115.00    -30.0
4         imolaAmphitheater      Italy    108.00     81.00    -30.0

In [80]:
pd.read_sql_query('''SELECT  ramphs.id, ramphs.modcountry, ramphs.extmajor, pleiades.timePeriods
          FROM ramphs, pleiades
          WHERE (ramphs.pleiades = pleiades.path)
          and (pleiades.timePeriods = "R")
          and (ramphs.extmajor > 70)
          ORDER BY ramphs.extmajor;''', ramphs_sql)

                          id modcountry  extmajor timePeriods
0     porolissumAmphitheater    Romania      84.0           R
1  sarmizegetusaAmphitheater    Romania      88.0           R
2           metzAmphitheater     France     148.0           R

In [ ]:
#I'm not sure why these two aren't returning any results. I had the same problem in the exercise for this week.